<div class='request twocolumn searchrequest' data-id={{_id}}>
    <div class='column'>
        <p>{{subject}}</p>
        <p>{{description}}</p>
        <p>{{bid}}</p>
    </div>
    <div class='column offerHelp'>
        <button class='offerToHelpButton' data-id={{_id}}>Offer to help</button>
    </div>

</div>
